<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>College Map</title>
    <link rel="stylesheet" href="/style/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/resources/script.js"></script>
  </head>
  <body>
    <div class= "title" id="title">
      <span>C</span><span>O</span><span>L</span><span>L</span><span>E</span><span>G</span><span>E</span><span>S</span><span>P</span><span>H</span><span>E</span><span>R</span><span>E</span>
    </div>
    <div class="img-aligner">
    <img class = "img" src="/images/map.png" width="800" usemap="#usmap"/>
    <map name="usmap">
      <area shape="rect" coords="580,295,670,390" href="/resources/georgia.html" alt="GA">
    </map>
  </div>

  <div class="textbox">
    {{ popup }}
  </div>



  </body>
</html>
