body{
  background-color: rgba(0, 0, 0, .4);

}
.title{
  color: white;
  text-align: center;
  font-size: 400%;
  color: blue;
}
.img-aligner{
  width:500px;
  height:500px;
  margin:0 auto;
  position:absolute;
  left:50%;
  top:50%;
  margin-left:-410px;
  margin-top:-250px;
}
