.container {
  position: relative;
}
.firstpic{
  top: -307px;
  left: 275px;
}/*georgia tech*/
.secondpic{
  top: -245px;
  left: 248px;
}/*Morehouse*/
.thirdpic{
  top: -262px;
  left: 299px;
}/*Georgia State*/
.fourthpic{
  top: -345px;
  left: 136px;
}
.fifthpic{
  top: -467px;
  left: 375px;
}
.sixthpic{
  top: -290px;
  left: 370px;
}
.seventhpic{
  top: -270px;
  left: 255px;
}
.pic {
  position: absolute;
}

/*Morehouse*/
#morehouse{
  background-color: rgb(200,200,200);
  width: 30%;
  padding: 5px;
  border-radius: 10px;
}


.title{
  color: maroon;
  text-align: center;
  font-size: 150%;
}
#subtitle-color{
  color: maroon;
  font-size: 100%;
}
.more-info{
  text-align: center;

}
#more-info{
  color: maroon;
  font-size: 100%;
}


/*GT*/
#gt{
  background-color:  rgb(200,200,200);
  width: 30%;
  padding:5px;
  border-radius: 10px;
}


.title2{
  color: gold;
  text-align: center;
  font-size: 150%;
}
#subtitle-color2{
  color: gold;
  font-size:100%;
}
.more-info2{
  text-align: center;
}
#more-info2{
  color: gold;
  font-size: 100%;
}
/*GSU*/
#gsu{
  background-color:  rgb(200,200,200);
  width: 30%;
  padding: 5px;
  border-radius: 10px;
}


.title3{
  color: blue;
  text-align: center;
  font-size: 150%;
}
#subtitle-color3{
  color: blue;
  font-size:100%;
}
.more-info3{
  text-align: center;
}
#more-info3{
  color: blue;
  font-size: 100%;
}

#scad{
  background-color:  rgb(200,200,200);
  width: 30%;
  padding: 5px;
  border-radius: 10px;
}


.title4{
  color: purple;
  text-align: center;
  font-size: 150%;
}
#subtitle-color4{
  color: purple;
  font-size:100%;
}
.more-info4{
  text-align: center;
}
#more-info4{
  color: purple;
  font-size: 100%;
}
/*Oglethorpe*/
#oglethorpe{
  background-color: rgb(200,200,200);
  width: 30%;
  padding: 5px;
  border-radius: 10px;
}


.title5{
  color: yellow;
  text-align: center;
  font-size: 150%;
}
#subtitle-color5{
  color: yellow;
  font-size: 100%;
}
.more-info5{
  text-align: center;

}
#more-info5{
  color: yellow;
  font-size: 100%;
}

#emory{
  background-color: rgb(200,200,200);
  width: 30%;
  padding: 5px;
  border-radius: 10px;
}

.title6{
  color: MediumBlue;
  text-align: center;
  font-size: 150%;
}
#subtitle-color6{
  color: MediumBlue;
  font-size: 100%;
}
.more-info6{
  text-align: center;

}
#more-info6{
  color: MediumBlue;
  font-size: 100%;
}

#clark{
  background-color: rgb(200,200,200);
  width: 30%;
  padding: 5px;
  border-radius: 10px;
}


.title7{
  color: red;
  text-align: center;
  font-size: 150%;
}
#subtitle-color7{
  color: red;
  font-size: 100%;
}
.more-info7{
  text-align: center;

}
#more-info7{
  color: red;
  font-size: 100%;
}
