.container {
  position: relative;
}
.firstpic{
  top: -307px;
  left: 275px;
}/*georgia tech*/
.secondpic{
  top: -245px;
  left: 248px;
}/*Morehouse*/
.thirdpic{
  top: -262px;
  left: 299px;
}/*Georgia State*/
.fourthpic{
  top: -345px;
  left: 136px;
}
.pic {
  position: absolute;
}


.pop{
  position: absolute;
  width: 200px;
  border: 1px solid black;
  position-radius: 10px;
}


/*Morehouse*/
#morehouse{
  background-color: gray;
  width: 40%;
}


.title{
  color: maroon;
  text-align: center;
  font-size: 150%;
}
#subtitle-color{
  color: maroon;
  font-size: 100%;
}
.more-info{
  text-align: center;

}
#more-info{
  color: maroon;
  font-size: 100%;
}


/*GT*/
#gt{
  background-color: gray;
  width: 40%;
}


.title2{
  color: gold;
  text-align: center;
  font-size: 150%;
}
#subtitle-color2{
  color: gold;
  font-size:100%;
}
.more-info2{
  text-align: center;
}
#more-info2{
  color: gold;
  font-size: 100%;
}
/*GSU*/
#gsu{
  background-color: gray;
  width: 40%;
}


.title3{
  color: blue;
  text-align: center;
  font-size: 150%;
}
#subtitle-color3{
  color: blue;
  font-size:100%;
}
.more-info3{
  text-align: center;
}
#more-info3{
  color: blue;
  font-size: 100%;
}

#scad{
  background-color: gray;
  width: 40%;
}


.title4{
  color: purple;
  text-align: center;
  font-size: 150%;
}
#subtitle-color4{
  color: purple;
  font-size:100%;
}
.more-info4{
  text-align: center;
}
#more-info4{
  color: purple;
  font-size: 100%;
}
